@using Tinix.Context

@model BlogPost

@Html.Partial("_Post", @Model)
<br/>
<div class="form-group">
    <label for="exampleTextarea">Add comment</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
</div>
<button type="button" class="btn btn-success">Post</button>

