@using Tinix.Context

<div id="row">
    <div class="col-12 text-center header">
        <a href="@Url.Action("Index","Home")"> <h1 class="text-center">@ApplicationContext.Title</h1></a>
        <h3 class="text-center">@ApplicationContext.Subtitle</h3>
        <br/>
    </div>
</div>
