
body
{
	background-color:#EEEEEE;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 18px;
}

.header
{
	background-color:white;
}

.title
{
	color: #0080ff;
}

.postContainer
{
	background-color: white;
	padding: 15px;
	border: solid lightgrey 1px;
}


footer
{
	/*background-color:black;
	color:white;*/
	color: black;
	height:40px;
}


.leftColumn
{
	min-height: 100%;
	background-color: #22313F;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	
}


.leftColumn a
{
	color: white;
	text-decoration: underline;
}


.adminImage 
{
	border-radius: 25px;
}


.backButton 
{
	border-radius: 10px;
}


.nextButton {
	border-radius: 10px;
}

.likeButton{
	cursor: pointer;
	font-size:24px;
}